*{
    padding: 0;
    margin: 0;
}

body{
    position: relative;
    font-family: "Lato", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.mb-50{
    margin-bottom: 50px;
}

.no-scroll {
    overflow: hidden;
  }

h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 4px;
    font-size: 3rem;
    max-width: 800px;
    text-align: center;
    margin: 25px;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 1.3rem;
}

button{
    margin: 50px 0px;
    width: 200px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.2rem;
    transition: 0.3s;
}

button:hover{
    transition: 0.3s;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}

.no-display{
    display: none;
}

.btn-dark{
    background-color: #333;
    color: #fff;
}

.btn-dark:hover{
    background-color: #777;
    color: #fff;
}

.modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;

}

.modal.visible{
    opacity: 1;
    transition: 0.3s;
    z-index: 1000;
}

.modal .modal-filter{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal .modal-box{
    position: relative;
    width: 1200px;
    height:600px;
    background-color: #fff;
    z-index: 1;
    padding: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal .modal-box .close-x{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
}
.modal .modal-box .close-x i{
    position: absolute;
    top:0;
    right:0;
    height: 30px;
    font-size: 30px;
    color: #777;
    padding: 10px;
}
.modal .modal-box .close-x i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s;
}

.modal .modal-box .quoting-progress-steps{
    position: relative;
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin:25px auto;
}

.modal .modal-box .quoting-progress-steps .quote-step{
   font-size: 2.5rem;
   border-radius: 50%;
   border: 10px solid #ccc;
   background-color: #fff;
   height:20px;
   width: 20px;
}

.modal .modal-box .quoting-progress-steps .quote-step.active{
   border: 10px solid #333;
   transition: all 0.3s;
   transition-delay: 0.7s;

 }

.modal .modal-box .quoting-progress-steps .progress-bar{
    position: absolute;
    top: 15px;
    background-color: #ccc;
    width: 100%;
    height: 10px;
    z-index: -1;
}

.modal .modal-box .quoting-progress-steps .progress-bar .indicator{
    position: absolute;
    height: 100%;
    background-color: #333;;
    z-index: 10;
    width: 0%;
    transition: all 1s;
}

.modal .modal-box .modal-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

}

.modal .modal-box .modal-btns button{
    margin: 0;
}

.modal .modal-box #next:disabled,
.modal .modal-box #next:hover:disabled,
.modal .modal-box #send-quote:disabled,
.modal .modal-box #send-quote:hover:disabled,
#send-message:disabled,
#send-message:hover:disabled{
    background-color: #ccc;
    cursor: default; 
}

.modal .modal-box .quoting-current-step-content{
    width: 100%;
    height: 450px;
}

.modal .modal-box .quoting-current-step-content h2{
    font-size: 3rem;
    text-align: center;
}

.modal .modal-box .quoting-current-step-content h3{
    font-size: 2.5rem;
}

.modal .modal-box .quoting-current-step-content .modal-main-content{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .modal-box .quoting-current-step-content .service-options-group,
.modal .modal-box .quoting-current-step-content .timeline-options-group{
    display: flex;
    gap: 50px;
}

.modal .modal-box .quoting-current-step-content .service-option,
.modal .modal-box .quoting-current-step-content .timeline-option{
    box-sizing: border-box;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.5rem;
    transition: 0.3s;
    border-radius: 4px;
}

.modal .modal-box .quoting-current-step-content .service-option:hover,
.modal .modal-box .quoting-current-step-content .timeline-option:hover{
    background-color: #333;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

.modal .modal-box .quoting-current-step-content .service-option.selected,
.modal .modal-box .quoting-current-step-content .timeline-option.selected{
    background-color: #ebb606;
    border: 1px solid #eab812;
    color: #fff;
    transition: 0.3s;
}
.modal .modal-box .quoting-current-step-content .service-option.selected:hover,
.modal .modal-box .quoting-current-step-content .timeline-option.selected:hover{
    background-color: #c39500;
    color: #fff;
    transition: 0.3s;
}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form{
    display: flex;
}
.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form > div:first-child{
    border-right: 1px solid #333;
    padding-right: 25px;
    overflow: scroll;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form > .form-left{
    border-right: 1px solid #333;
}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form input:read-only {
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    flex: 1;
    outline: none;
}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form .last-check-input-container{
    display: flex;
    flex-wrap: wrap;

}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check > form .last-check-input{
    /* flex: 1; */
    margin-right: 20px;
}


.modal .modal-box .quoting-current-step-content .modal-main-content.last-check h4{
    font-size: 2rem;
    margin: 25px 0 5px 0;

}

.modal .modal-box .quoting-current-step-content .modal-main-content.last-check p{
    font-size: 1.3rem;
}

.modal .modal-box .quoting-current-step-content .modal-main-content .user-test{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.modal .modal-box .quoting-current-step-content .modal-main-content .user-test input{
    margin-top: 25px;
}

.modal .modal-box .quoting-current-step-content .modal-main-content .user-test h4{
    text-align: center;
}

.modal .contact-form {
    display: flex;
    justify-content: center;
}

.modal .quoting-current-step-content .contact-form .form-container{
    width: 600px;
}

.modal .quoting-current-step-content .contact-form .form-container .quote-input,
.modal .quoting-current-step-content .contact-form .form-container > div,
main .quote-input-test{
    box-sizing: border-box;
    width: 100%; 
    margin-bottom: 25px;
}

.modal .quoting-current-step-content .contact-form .form-container > div{
    display: flex;
    gap: 25px;
    margin: 0;
}



nav {
    transition: 0.3s;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 10;
    color: white;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav.nav-scrolled{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 1);
    color: #333;
}
nav #logo-container{
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    cursor: pointer;
}

nav #logo-container .img{
    width: 60px;
}

nav #logo-container .img img{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
    height: 100%;
    padding: 15px;;
    box-sizing: border-box;
    opacity: 0;
}

nav #logo-container .img img.visible{
    transition: 0.3s;
    opacity: 1;
}

nav #logo-container .txt{
    box-sizing: border-box;
    padding: 15px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav #logo-container .txt p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 2.5rem;

}

nav #logo-container .txt p + p{
    font-family: "Lato", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 0.8rem;

}

nav .menu-container{
    padding: 15px;
    display: flex;
}

nav .menu-container .menu-icon {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 25px;
}

nav .menu-container .menu-icon:last-child{
    margin-right:25px;
}

nav .menu-container .material-icons-outlined{
    font-size: 2rem;
}

nav .menu-container .burger-menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
nav .menu-container .burger-menu > i{
    position: absolute;
    top: 0;
    left: 0;
    /* transition: 0.3s; */
    height: 100%;
    /* padding: 15px; */
    box-sizing: border-box;
    opacity: 0;
    width: 100%;
    text-align: center;
}

nav .menu-container .burger-menu > i.visible{
    /* transition: 0.3s; */
    opacity: 1;
}
nav #shopping-cart-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .shopping-cart-details{
    cursor: auto;
    position: absolute;
    top:75px;
    right: 0;
    width: 300px;
    min-height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    opacity: 0;
    transition: 0.3s;
}

nav .shopping-cart-details.visible{
    opacity: 1;
    transition: 0.3s;
}

nav .shopping-cart #shopping-cart-badge{
    position: absolute;
    top:0;
    right: 20px;
    min-width: 20px;
    min-height: 20px;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

nav .shopping-cart-details .shopping-cart-content{
    color: #333;
    font-size: 1.2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

nav .shopping-cart-details .shopping-cart-btn{
    display: flex;
    align-items: flex-end;
    margin: 0;
}

nav .shopping-cart-btn button{
    margin:0;
    margin-top: 15px;
}

nav .shopping-cart-btn button:disabled{
    background-color: #eee;
    color: #aaa;
    border: none;
    cursor: auto;
}
#menu-opened{
    transition: 0.3s;
    position: fixed;
    top:90px;
    right:0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    opacity: 0;

}

#menu-opened > div{
    height:100%;
    position: absolute;
    top: 0;
}

#menu-opened > div:first-child{
    box-sizing: border-box; 
    background-color: #fff;
    width: 35%;
    height:100%;
    overflow: scroll;
}

#menu-opened > div:last-child{
    box-sizing: border-box; 
    background-color: #eee;
    width: 65%;
    right: 0;
    height:100%;
    overflow: scroll;
}

#menu-opened.visible{
    transition: 0.3s;
    opacity: 1;
    z-index: 10;

}

#menu-opened .menu-tree{
    box-sizing: border-box;
    padding: 50px;
    color: #666;
}

#menu-opened .menu-tree ul {
    list-style: none;
}

#menu-opened .menu-tree > ul > li{
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 0px;
}

#menu-opened .menu-tree li{
    font-size: 1.5rem;
    padding: 0.75rem 0px 0.75rem 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu-opened .menu-tree li i{
    transition: 0.3s;
    padding-right: 35px;
}

#menu-opened .menu-tree ul > ul li:hover{
    transition: 0.3s;
    cursor: pointer;
    background-color: #eee;
    border-radius: 4px 0px 0px 4px;
}

#menu-opened .menu-tree .selected{
    background-color: #eee;
}
#menu-opened .menu-tree .selected i{
    transition: 0.3s;
    padding: 0;
}

#menu-opened .menu-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#menu-opened .menu-details > div:first-child{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-opened .menu-details h2{
    margin-bottom: 25px;
    font-size: 2rem;
}

#menu-opened .menu-details h3{
    margin-bottom: 25px;
    font-size: 1.5rem;
    color: #333;
}

#menu-opened .menu-details button{
    position: relative;
    margin: 25px 0;
}

#menu-opened .menu-details .menu-img-container{
    position: relative;
    width: 600px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 50px;
}

#menu-opened .menu-details .menu-img-container img{
    position: relative;
    width: 100%;
    top:-40%;
}
#menu-opened .menu-details .service-steps{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    color: #999;
}

#menu-opened .menu-details .service-steps .stepsBox{
    display: flex;
    justify-content: space-between;
}

#menu-opened .menu-details .service-steps .stepsBox .menu-tab{
    margin: 0 auto;
    align-self: center;
}

#menu-opened .menu-details .service-steps .stepBox .current-step{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#menu-opened .menu-details .service-steps .stepBox .current-step{
    width: 100%;
    height: 100%;
    color: #333;
}

#menu-opened .menu-details .service-steps .menu-tab .ticker,
#menu-opened .menu-details .service-steps .current-step .ticker{
    position: relative;
    bottom: 0px;   
    left: 0;
    width:100%;
    height: 15px;
    opacity: 0;
}

#menu-opened .menu-details .service-steps .current-step .ticker{
    opacity: 1;
}


#menu-opened .menu-details .service-steps span{
    font-size: 1.5rem;
}

#menu-opened .menu-details .service-steps .menu-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100px;
    transition: 0.3s;
    border-radius: 4px 4px 0px 0pxgit;
}
#menu-opened .menu-details .service-steps .menu-tab.current-step{
    color:#333;
}
#menu-opened .menu-details .service-steps .menu-tab:hover{
    transition: 0.3s;
    color:#333;
    background-color: #f7f7f7;
    cursor: pointer;
}

#menu-opened .menu-details .service-steps .tabContentBox{
    position: relative;
    top: 0;
    left: 0;
}

#menu-opened .menu-details .service-steps .tabContent{
    position: relative;
    width: 100%;
    left:0;
    top: 0px;
    padding: 25px;
    color: #333;
    border-radius: 4px;
    box-sizing: border-box;
    display: none;
}

#menu-opened .menu-details .service-steps .tabContent.show{
    display: block;
}

#menu-opened .menu-details .imageBtnBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-opened .menu-details .light-grey{
    background: #f7f7f7
}

#menu-opened .contactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menu-opened .contactBox h2:first-child{
    font-style: italic;
    color: #555;
}

#menu-opened .contactBox h2{
    font-size: 4rem;
}

#menu-opened .contactBox h3{
    font-size: 2rem;
    font-weight: 400;
    color: #555;
}

header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
}



header .bg-header{
    position: relative;
    top: -100px;
    left: 0;
    width: 100%;
    overflow: hidden;
}

header .bg-header img{
    position: relative;
    top: -30px;
    width: 100%;
    z-index: -1;
}

header .bg-header .bg-header-filter{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;;
    width: 100%;
    z-index: 0;
}

header .content-header{
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    color: #fff;
}

header .content-header p.text-light{
    text-align: center;
    margin: 10px;
    font-size: 1.7rem;
    font-weight: 300;
}

header .content-header p + p{
    text-align: center;
    margin: 10px;
    font-size: 2.5rem;
    font-weight: 500;
}

header .content-header button{
    transition: 0.3s;
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 0px;
    color: #fff;
    font-weight: bold;
    width: 400px;
    align-self: center;
    margin: 50px auto;
}

header .content-header button:hover{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    cursor: pointer;
}

main {
    position: relative;
    top: -50px;
    max-width: 1200px;
    /* background-color: rgba(255, 0, 0, 0.23); */
}

main .banner{
    position: relative;
    margin: 150px 0px 100px 0px;
}

main .project-banner{
    height: 250px;
    overflow: hidden;
}

main .project-banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
}

main .project-banner h2{
    position: relative;
    z-index: 10;
    color: inherit;
}

main .project-banner .banner-filter{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.0);
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
}

main .project-banner .banner-filter:hover{
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
    font-size: 1.65rem;
    cursor: pointer;
}

main .project-banner img{
    width: 100%;
    position: absolute;
    top: -200px;
}

main .services h2, main .projects h2, main .about-us h2, main .contact h2{
    text-align: center;
    font-size: 2.5rem;
}

main .services h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .about-us h2 + p{
    text-align: center;
    font-size: 1.5rem;
}

main .services > div{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 100px 0px;
}   

main .services article{
    position: relative;
    border: 1px solid #eee;
    width: 380px;
    height: 200px;
}

main .services article div:first-child{
    cursor: pointer;  
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

main .services article div:first-child:hover img{
    transition: 0.3s;
    transform: scale(1.1);  
}

main .services article img{
    transition: 0.3s;
    position: relative;
    width: 100%;
}

main .services article .filter{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

main .services article div:last-child{
    padding: 25px;
    text-align: center;
    color: #000;
    z-index: 10;
}

main .projects{
    margin-bottom: 100px;;
}

main .projects > div{
    display: flex;
    margin-top: 50px;
}

main .projects h3{
    margin-bottom: 25px;
    line-height: 0.7;;
}

main .projects > div:nth-child(2) > div:last-child{
    padding-left: 50px;
}

main .projects > div:last-child{
    flex-direction: row-reverse;
}

main .projects > div:last-child > div:last-child{
    padding-right: 50px;
}

main .projects > div > div:first-child{
    width: 50%;
}

main .projects > div > div:first-child img{
    width: 100%;
}

main .projects > div > div:last-child{
    width: 50%;
}

main .about-us {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
}

main .about-us button{
    margin: 0px;
    margin-top: 25px;
}

main .about-us h3{
    margin-bottom: 25px;
}

main .about-us .projects-cluster> div:last-child button{
    float: right;
}

main .about-us .projects-cluster{
    display: flex;
    gap: 50px;
    
}

main .about-us .projects-cluster > div{
    display: flex;
}

main .about-us .projects-cluster > div:first-child > div, 
main .about-us .projects-cluster > div:last-child {
    background-color: #eee;
}

main .about-us .projects-cluster > div:first-child{
    position: relative;
    width: 50%;
    flex-direction: column;
    gap: 50px;
}

main .about-us .projects-cluster> div:first-child > div{
    height: 272px;
    display: flex;
}
.about-us .projects-cluster > div:first-child .about-project-image{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .projects-cluster > div:first-child .about-project-image img{
    width: 100%;
    transform: scale(1.5);
}

/* main .about-us .projects-cluster> div:first-child > div{} */


main .about-us .projects-cluster> div:last-child{
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

main .about-us .projects-cluster> div:last-child .about-project-image{
    height: 70%;
    overflow: hidden;
}

main .about-us .projects-cluster> div:last-child img{
    width: 100%;
}

main .about-us > div:last-child{
    background-color: #eee;
    display: flex;
    flex-direction: row-reverse;
    height: 400px;
    overflow: hidden;
}

main .about-us > div:last-child .about-project-image{
    height: 100%;
}

main .about-us > div:last-child .about-project-image img{
    position: relative;
    top: -40px;
}

main .about-us > div:last-child .project-content{
    padding-left: 50px;
}

main .about-us .project-content{
    padding: 15px;
}

main .contact .contact-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 50px 0;
}

main .contact .contact-content .contact-details{
    box-sizing: border-box;
    width: 400px;
    min-width: 400px;
    border-right: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}

main .contact .contact-content .contact-details h3{
    margin-bottom: 15px;
}

main .contact .contact-content .contact-message{
    font-size: 1.2rem;
    text-align: center;
}

main .contact .contact-content .form-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.modal, .quote-input,
main .quote-input-test,
main .contact .contact-content .form-container input,
main .contact .contact-content .form-container textarea{
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
}

.modal, .contact-form input,
main .contact .contact-content .form-container > input,
main .contact .contact-content .form-container > div:first-child{
    margin-bottom: 10px;
    flex: 1;
}


main .contact .contact-content .form-container > div{
    gap: 10px;
    display: flex;
}

main .contact .contact-content .form-container > div > *{

    flex: 1;
}

main .contact .contact-content .form-container textarea{
    resize: none;
}

main .contact .contact-form .form-container .user-test{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main .contact .contact-content .form-container button{
    width: 100%;
    margin: 0;
    margin-top: 25px;
}

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100px;
    z-index: 10;
}

footer section{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer .some{
    margin:25px 0;
} 

footer .some ul{
    display: flex;
    list-style: none;
}

footer .some ul li{
   cursor: pointer;
}

footer .some a{
    text-decoration: none;
    margin: 25px;
    color: #fff;
}